* {
    margin:      0;
    padding:     0;
    box-sizing:  border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

:root {
    --primary:               #DC4F72 !important;
    --title-color:           #2C3038;
    --text-color:            #5A5A5A;
    --light-bg-color:        #F7F9FC;
    --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    --card-box-shadow:       1px 5px 7.5px rgba(196, 196, 196, 0.2);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

.container {
    width:         100%;
    padding-right: 15px;
    padding-left:  15px;
    margin-right:  auto;
    margin-left:   auto;
}

.theme-button {
    transition:  0.3s ease-out;
    display:     inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size:   14px;
    margin:      0;
    padding:     0 30px;
}

.btn-primary {
    color:            #FFF !important;
    background-color: var(--primary);
    border-color:     var(--primary);
}

.btn-primary:hover {
    color:            #FFF;
    background-color: #D62F58 !important;
    border-color:     #CF2952 !important;
}

.btn-outline-primary {
    color:        var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:hover {
    color:            #FFFFFF;
    background-color: var(--primary);
    border-color:     var(--primary);
}

.subtitle {
    font-size:      16px;
    line-height:    20px;
    font-weight:    700;
    color:          var(--primary);
    text-transform: uppercase;
    margin-bottom:  5px;
}

.title {
    color:       var(--title-color);
    font-size:   46px;
    line-height: 1;
    font-weight: 700;
}

.des {
    color:       var(--text-color);
    font-size:   16px;
    line-height: 22.5px;
    font-weight: 400;
}

a {
    text-decoration:  none;
    background-color: transparent;
}

a:hover {
    text-decoration: none;
}

p {
    color: var(--text-color);
}
.navbar-light .navbar-toggler-icon {
    background-image: none !important;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/*Header*/
header {
    background-color: #FFF;
    padding:          0;
    transition:       all 0.4s ease 0s;
    display:          grid;
    align-items:      center;
    box-shadow:       0 3px 9px rgba(0, 0, 0, 0.05);
}

header a {
    color: var(--primary);
}

.navbar {
    padding: 0 !important;
}

.navbar .navbar-brand {
    margin:         0;
    padding:        0;
    font-size:      26px;
    font-weight:    700;
    color:          var(--primary);
    letter-spacing: -1px;
}

.navbar .navbar-brand:hover {
    color: var(--primary);
}

.fa-handshake-o::before {
    content: "";
}

.navbar-nav li.nav-item.active .nav-link {
    color: var(--primary) !important;
}
li.nav-item, .navbar-brand{
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.navbar-nav .nav-link {
    text-transform: capitalize;
    transition:     all 0.5s ease;
    padding:        14px 0;
    font-size:      16px;
    font-weight:    400;
    color:          var(--title-color);
}

.navbar-nav .nav-item {
    padding:    15px;
    position:   relative;
    transition: all 0.5s ease;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-nav .nav-link, a.dropdown-item {
    color:   #333 !important;
    opacity: 0.95 !important;
}

.navbar-nav .nav-link:hover, a.dropdown-item:hover {
    color:      var(--primary) !important;
    background: white;
}

a.nav-link, a.dropdown-item {
    position:      relative;
    padding-right: 0 !important;
    padding-left:  0 !important;
}

a.dropdown-item {
    padding:    0 15px 14px 15px;
    position:   relative;
    transition: all 0.5s ease;
}

header.nav-fix{
    height: auto;
}

a.nav-link::before, a.dropdown-item::before {
    position:   absolute;
    content:    "";
    background: var(--primary);
    width:      0;
    height:     2px;
    left:       0;
    bottom:     13px;
    transition: all 0.5s ease;
}

a.nav-link:hover::before, a.dropdown-item:hover::before {
    width: 20px;
}

.dropdown-menu {
    transform: translateX(-40px);
    padding:   20px 30px 10px 30px;
    border-radius: 6px;
}

.navbar-nav .dropdown-menu:before {
    content:       '';
    width:         14px;
    height:        14px;
    background:    #FFF;
    border:        1px solid rgba(0, 0, 0, 0.15);
    display:       block;
    border-right:  none;
    border-bottom: none;
    transform:     translateX(-50%) rotateZ(45deg);
    position:      absolute;
    top:           -7px;
    left:          49%;
    z-index:       1001;
}

/*Banner*/
.banner {
    margin-top: 90px;
}

.banner_bg {
    position:              relative;
    z-index:               1;
    overflow:              hidden;
    background:            #FFFFFF;
    background-image:      linear-gradient(to right, #FFFFFF, rgba(255, 255, 255, 0.92)), url(../img/banner.jpg);
    background-repeat:     no-repeat;
    background-position:   center;
    background-attachment: fixed;
    background-size:       cover;
    /*display: grid;*/
    align-items:           center;
    padding-top:           5rem;
}

.banner-left h3 {
    font-size:   50px;
    line-height: 57.5px;
    color:       var(--title-color);
    font-weight: 700;
}

.banner-left p {
    color:       var(--text-color);
    font-size:   20px;
    line-height: 28px;
    font-weight: 400;
    max-width:   450px;
}

.banner-right img {
    transform: rotate(180deg);
}

/*Tool*/
.tool-title {
    max-width: 750px;
}

.tool-item {
    border-radius:    6px;
    transition:       0.3s ease-in;
    background-color: var(--light-bg-color);
    padding:          3rem 2rem;
    border:           1px solid var(--light-bg-color);
}

.tool-item:hover {
    transition:       0.3s ease-in;
    background-color: #FFFFFF;
    border:           1px solid #EEE;
    box-shadow:       var(--card-hover-box-shadow);
    transform:        translateY(-0.5rem);
}

.tool-item p {
    margin-top: 15px;
}

.tool-item a h3 {
    color:       var(--title-color) !important;
    font-size:   26px;
    line-height: 35px;
    font-weight: 700;
}

.tool-item a p {
    color:       var(--text-color);
    margin-top:  15px;
    font-size:   16px;
    line-height: 24.5px;
}

/*About*/
.about {
    background-color: var(--light-bg-color);
}

.about-left h3 {
    font-size:   35px;
    line-height: 40px;
    color:       var(--title-color);
    font-weight: 700;
}

.about-left p {
    font-style:  normal;
    font-weight: normal;
    font-size:   16px;
    color:       var(--text-color);
    line-height: 24.4px;
}

.about-right img {
    max-width:     100%;
    height:        auto;
    border-radius: 6px;
    transition:    0.3s ease-in-out;
    box-shadow:    0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.about-right img:hover {
    transform:  translateY(-0.5rem);
    transition: 0.3s ease-in-out;
}

/*Number*/
.number {
    background-color: var(--light-bg-color);
}

.number-item {
    background-color: white;
    padding:          2rem;
    border-radius:    6px;
    box-shadow:       var(--card-box-shadow);
    transition:       0.3s ease;
    border:           1px solid #EEE;
}

.number-item:hover {
    box-shadow: var(--card-hover-box-shadow);
    transition: 0.3s ease;
}

.number-item h4 {
    font-size:      16px;
    line-height:    24.5px;
    text-transform: capitalize;
    color:          var(--title-color);
    font-weight:    700;
}

.number-item p.counter {
    font-size:     50px;
    line-height:   1;
    color:         var(--primary);
    font-weight:   700;
    margin-bottom: 15px;
    margin-top:    10px;
}


/*============================Responsive=============================*/
/*container*/
@media (min-width: 576px) {
    .container {
        max-width:     100%;
        padding-right: 30px;
        padding-left:  30px;
        margin-right:  auto;
        margin-left:   auto;
    }
}

@media (min-width: 768px) {
    .container {
        max-width:     100%;
        padding-right: 25px;
        padding-left:  25px;
        margin-right:  auto;
        margin-left:   auto;
    }
}

@media (min-width: 992px) {
    .container {
        max-width:     100%;
        padding-right: 25px;
        padding-left:  25px;
        margin-right:  auto;
        margin-left:   auto;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:     100%;
        padding-right: 25px;
        padding-left:  25px;
        margin-right:  auto;
        margin-left:   auto;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

/*Header*/

.navbar-toggler-icon.fa {
    color:            #FFF !important;
    line-height:      30px;
    background-color: var(--primary);
    border-radius:    5px;
}

.navbar-toggler {
    padding: 0!important;
}
@media only screen and (max-width: 991px){
    header {
        height: auto;
        padding: 15px 0;
    }
    .navbar-nav{
        width: 100%;
        padding: 20px 0;
    }
    a.nav-link{
        margin:0;
        padding: 8px 0 !important;
        display: inline-block;
    }
    a.nav-link::before, a.dropdown-item::before {
        bottom: 5px;
    }
    .dropdown.show a.nav-link::before{
        display: none;
    }
    .dropdown-menu{
        transform: translateY(0);
        text-align: center;
    }
    a.dropdown-item::before {
        left: auto;
    }
    button.navbar-toggler{
        padding:        5px;
        vertical-align: middle;
    }

    li.nav-item {
        padding:    0 !important;
        text-align: center;
    }

    .navbar-toggler.collapsed .navbar-toggler-icon.icon-close {
        display: none;
    }

    .navbar-toggler.collapsed .navbar-toggler-icon.icon-expand {
        display: block;
    }

    .navbar-toggler .navbar-toggler-icon.icon-close {
        display: block;
    }

    .navbar-toggler .navbar-toggler-icon.icon-expand {
        display: none;
    }
}
.header {
    height:90px;
}
.header.nav-fix{
    height: 70px;
}

@media only screen and (max-width: 991px) {

    .header {
        height:70px;
    }
    .header.nav-fix{
        height: 60px;
    }
}
