* {
    margin:     0;
    padding:    0;
    box-sizing: border-box;
}

:root {
    --primary-color: #189A46;
    --bg-light:      rgba(147, 107, 232, 0.05);
    --heading-color: #000C04;
    --font-color:    #696969;
}

body {
    margin:           0;
    font-family:      'Jost', sans-serif;
    font-size:        1rem;
    font-weight:      400;
    line-height:      1.5;
    color:            #212529;
    text-align:       left;
    background-color: #FFF;
}

a {
    text-decoration:  none;
    background-color: transparent;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin:      0;
    padding:     0;
    color:       var(--heading-color);
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

p {
    margin:      0;
    padding:     0;
    font-size:   1.2em;
    line-height: 28px;
    color:       var(--font-color);
    font-family: 'Jost', sans-serif;
}

.container {
    width:   100%;
    padding: 0 15px;
    margin:  0 auto;
}

.title {
    font-size:   40px;
    line-height: 48px;
}

.subtitle {
    font-size:      18px;
    font-weight:    400;
    text-transform: uppercase;
    line-height:    2em;
    letter-spacing: 1px;
    color:          #F53626;
}

.des {
    margin:      0;
    padding:     0;
    font-size:   1.2em;
    line-height: 28px;
    color:       var(--font-color);
    font-family: 'Jost', sans-serif;
}

.read {
    font-size:     17px !important;
    padding:       0;
    border-bottom: 2px solid var(--primary-color);
    color:         var(--heading-color);
    transition:    0.3s ease-in-out;
    font-weight:   600;
    border-radius: 0;
    margin-top:    20px;
    display:       inline-block !important;
}

.read:hover {
    color: var(--primary-color)
}

/*Header*/
header {
    top:              40px !important;
    background-color: white;
    z-index:          2;
    transition:       all 0.5s ease;
    box-shadow:       0 3px 9px rgba(0, 0, 0, 0.05);
    padding:          20px 0;
}

.navbar {
    padding: 0 !important;
}

.nav-fixed {
    padding: 15px 0;
}

.navbar .navbar-brand {
    margin:      0;
    padding:     0;
    font-size:   34px;
    font-weight: 600;
    color:       var(--primary-color);
    height:      50px;
}

.navbar .navbar-brand:hover {
    color: var(--primary-color);
}

.navbar-nav li.nav-item.active .nav-link {
    color: var(--primary-color) !important;
}
.navbar-nav .nav-link {
    font-size:      1.2em;
    font-weight:    400;
    transition:     all 0.5s ease;
    text-transform: capitalize;
    color:          var(--title-color);
}

.navbar-nav .nav-item {
    position:   relative;
    padding:    10px;
    transition: all 0.5s ease;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: none !important;
}

.navbar-nav .nav-link, a.dropdown-item {
    color:   #333 !important;
    opacity: 0.95 !important;
}

.navbar-nav .nav-link:hover, a.dropdown-item:hover {
    color:      var(--primary-color) !important;
    background: white;
}

.navbar-nav .dropdown-menu:before {
    position:      absolute;
    z-index:       1001;
    top:           -7px;
    left:          49%;
    display:       block;
    width:         14px;
    height:        14px;
    content:       '';
    transform:     translateX(-50%) rotateZ(45deg);
    border:        1px solid rgba(0, 0, 0, 0.15);
    border-right:  none;
    border-bottom: none;
    background:    #FFF;
}

a.nav-link, a.dropdown-item {
    position:      relative;
    padding-right: 0 !important;
    padding-left:  0 !important;
}

a.nav-link {
    padding: 0 !important;
}

a.dropdown-item {
    font-weight: 400;
    font-size:   1.2em;
    position:    relative;
    color:       var(--heading-color);
    padding:     0 24px 14px !important;
    display:     block;
    width:       100px;
}

.dropdown-menu {
    border-radius: 10px;
    background:    #FFFFFF;
    border:        1px solid #DDDDDD;
    min-width:     13rem;
    padding:       1rem 0.3rem 0.3rem 0.3rem;
    transform:     translateX(-42px)
}

a.nav-link::before, a.dropdown-item::before {
    position:   absolute;
    bottom:     13px;
    left:       0;
    width:      0;
    height:     1px;
    content:    "";
    transition: all 0.5s ease;
    background: var(--primary-color);
}

a.dropdown-item::before {
    left: 24px;
}

a.nav-link:before {
    bottom: 0;
}

a.nav-link:hover::before, a.dropdown-item:hover::before {
    width: 100%;
}

.dark-mode-btn {
    color:       var(--font-color);
    font-size:   24px;
    line-height: 30px;
    margin-left: 20px;
}

.navbar-toggler-icon.fa {
    line-height:      33px;
    color:            #FFF !important;
    border-radius:    5px;
    background-color: var(--primary-color);
    width:            33px;
    height:           33px;
    font-size:        22px;
}

.navbar-toggler {
    padding: 0 !important;
}


.dark-mode-off {
    display: none;
}

/*Carousel*/
.bg-img {
    background-size:     cover;
    min-height:          calc(100vh - 40px);
    position:            relative;
    z-index:             -1;
    display:             grid;
    align-items:         center;
    padding:             3em 0;
    background-repeat:   no-repeat;
    background-position: center;
}

.bg-img::before{
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #0c0c0c;
    opacity: .6;
}

#carousel-item-1 {
    background-image: url("../img/banner1.jpg");
}

#carousel-item-2 {
    background-image: url("../img/banner2.jpg");
}

#carousel-item-3 {
    background-image: url("../img/banner3.jpg");
}

#carousel-item-4 {
    background-image: url("../img/banner4.jpg");
}

.carousel-content{
    color: white !important;
}

.carousel .owl-dots {
    position:   absolute;
    right:      0;
    bottom:     30px;
    left:       0;
    margin-top: 0;
}

.owl-theme .owl-dots .owl-dot span {
    position:                    relative;
    display:                     block;
    width:                       10px;
    height:                      10px;
    margin:                      0 7px;
    transition:                  opacity .2s ease;
    opacity:                     0.9;
    border-radius:               25px;
    background:                  #FFF;
    -webkit-backface-visibility: visible;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    width:      30px;
    height:     10px;
    background: var(--primary-color);
}

.active-btn, .active-btn:hover {
    font-size:        18px;
    font-weight:      400;
    line-height:      28px;
    padding:          12px 35px;
    transition:       0.3s ease-in;
    color:            var(--primary-color);
    border-radius:    8px;
    background-color: white;
}

.none-active-btn {
    font-size:     18px;
    font-weight:   400;
    line-height:   28px;
    padding:       10px 35px;
    transition:    0.3s ease-in;
    color:         white;
    border:        2px solid #FFF;
    border-radius: 8px;
}

.none-active-btn:hover {
    color:      var(--primary-color);
    background: white;
}

/*About*/
.about-content {
    max-width: 700px;
    margin:    0 auto;
}

.carousel-content .inner {
    max-width: 700px;
}

.carousel-content h5, .carousel-content p {
    color: white;
}

.carousel-content h5 {
    font-size:   66px;
    font-weight: 700;
    line-height: 76px;
}

/*Feature*/
.feature {
    background-color: var(--bg-light);
}

.feature-item {
    padding:          40px 30px;
    transition:       all 0.5s ease 0s;
    border-radius:    10px;
    background-color: white;
    position:         relative;
    margin-bottom:    30px;
}

.feature .icon span.fa {
    color:     var(--primary-color);
    font-size: 30px;
}

.feature a {
    font-size:     24px;
    font-weight:   600;
    margin-top:    25px;
    margin-bottom: 15px;
    display:       block;
    color:         var(--heading-color);
}

.feature a:hover {
    color: var(--primary-color);
}

/*Service*/

.service-left img {
    max-width: 100%;
    height:    auto;
    border-radius: 10px;
}

.service-right p {
    margin:      15px 0 35px 0;
    font-style:  normal;
    font-weight: normal;
    font-size:   16px;
    line-height: 24.5px;
}

.service-list li {
    list-style:  none;
    font-style:  normal;
    font-size:   16px;
    line-height: 26px;
    color:       var(--heading-color);
    margin:      15px 0;
    font-weight: 600;
}

.service-list li span.fa {
    color:         var(--primary-color);
    margin-right:  12px;
    background:    var(--bg-light);
    font-size:     10px;
    padding:       8px;
    border-radius: 50%;
    display:       inline-block;
}

/*Number*/
.number {
    background: var(--primary-color);
}

.number-item p, .number-item h4 {
    color: white;
}

.number-item p {

    font-size:     50px;
    line-height:   60px;
    font-weight:   600;
    margin-top:    30px;
    margin-bottom: 0;
}

.number-item h4 {
    font-size:   20px;
    line-height: 25px;
    margin-top:  10px;
    opacity:     0.8;
    font-weight: 400;
}

@media screen and (min-width: 1280px) {
    .container{
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 991px) {
    header {
        height:     auto;
        transition: all 0.5s ease;
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
        padding:    10px 0;
    }

    .nav-fixed {
        padding: 5px 0;
    }

    /*.header-responsive{*/
    /*    padding: 5px 0 !important;*/
    /*}*/
    .navbar-nav {
        width:   100%;
        padding: 20px 0;
    }

    a.nav-link {
        display: inline-block;
        margin:  0;
        padding: 0 !important;
    }

    a.nav-link::before {
        bottom: 5px;
    }

    .dropdown.show a.nav-link::before, a.dropdown-item::before {
        display: none;
    }

    a.dropdown-item {
        padding: 0 !important;
        margin:  10px auto;
    }

    .dropdown-menu {
        transform:  translateX(0);
        text-align: center;
    }

    a.nav-link::before {
        display: none;
    }

    button.navbar-toggler {
        padding:        5px;
        vertical-align: middle;
    }

    li.nav-item {
        padding:    0 !important;
        text-align: center;
    }

    .icon-expand, .icon-close {
        line-height: 30px;
    }

    .navbar-toggler.collapsed .navbar-toggler-icon.icon-close {
        display: none;
    }

    .navbar-toggler.collapsed .navbar-toggler-icon.icon-expand {
        display: block;
    }

    .navbar-toggler .navbar-toggler-icon.icon-close {
        display: block;
    }

    .navbar-toggler .navbar-toggler-icon.icon-expand {
        display: none;
    }

    .dark-mode-btn {
        position: absolute;
        top:      10px;
        right:    60px;
    }

    .title {
        font-size:   35px !important;
        line-height: 40px;
    }

    /*    Carousel      */
    .carousel-content h5 {
        font-size:   50px;
        line-height: 55px;
    }


    /*    Number*/
    .number-item .counter {
        font-size:   40px !important;
        line-height: 50px;
    }

    .number-item h4 {
        font-size: 18px !important;
    }

}

@media only screen and (max-width: 767px) {
    .bg-img {
        min-height:      580px;
        background-size: cover;
    }

    .number-item .counter {
        font-size:   35px !important;
        line-height: 38px;
        margin-top:  20px;
    }
    .number-item h4 {
        font-size: 17px !important;
    }
}